.t-container{
    margin-bottom: 100px;
}
h1 {
    color: #0E6EF7;
    font-size: 64px;
}

body {
    margin-bottom: 100px;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007BFF;
}

.navbar-brand {
    color: #fff;
}

h1 {
    text-align: center;
}

.login {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 70px;
}

label {
    display: block;
    margin-bottom: 10px;
}
#f_actual{
    background-color: #bbb;
    color: black;
}
input[type = "text"],
select {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type = "text"],
input[type = "password"],
.radioq
select {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.obligatorio{
    background-color: #f5ec78;
}

input[type = "radio"] {
    margin: 10px;
}
.radio {
    display: flex; /* Hace que los elementos radio se muestren en línea */
    align-items: center; /* Centra verticalmente los elementos radio */
}

.radio input[type = "radio"] {
    margin-right: 10px; /* Agrega un margen derecho entre los elementos radio */
    width: auto; /* Ancho automático para evitar que los elementos se expandan */
}
input{
    min-width: 20px;
}

input[type = "reset"],
input[type = "submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;

}
input[type = "submit"],.volver {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;

}
.error{
    color: red;
}
input[type = "reset"]:hover,
input[type = "submit"]:hover {
    background-color: #0056b3;
}
.detalle,.cerrar_sesion {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;

}